<?xml version="1.0"?>

<clickhouse>
  <listen_host>::</listen_host>
  <listen_host>0.0.0.0</listen_host>
  <listen_try>1</listen_try>

  <access_control_improvements>
    <select_from_system_db_requires_grant>true</select_from_system_db_requires_grant>
    <on_cluster_queries_require_cluster_grant>true</on_cluster_queries_require_cluster_grant>
    <select_from_information_schema_requires_grant>true</select_from_information_schema_requires_grant>
    <settings_constraints_replace_previous>true</settings_constraints_replace_previous>
  </access_control_improvements>
</clickhouse>
